.notes {
  &__main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__appbar {
    align-items: center;
    background-color: $primary;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
}
